* {
  margin: 0;
  padding: 0;
}
.star {
  animation: linear starFloat 1s;
  height: 26px;
  width: 26px;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  background-color: aqua;
  position: absolute;
}
@keyframes starFloat {
  0% {
    opacity: 1;
    transform: translateY(0px) rotate(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-100px) rotate(1turn);
  }
}
